:root {
  --color-primary: #007bff;
  --color-primary-dark: #0056b3;
  --color-background: #f5f5f5;
  --color-form-background: white;
  --color-text: #333;
  --color-border: #ddd;
  --font-family: Arial, sans-serif;
}

/* CSS Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* TODO: Add your styles here */

body {
  display: flex;
  flex-direction: column;
  color: var(--color-text);
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

h1 {
  padding-bottom: 10px;;
}

.form-field input {
  border: 2px solid #b1b1b1;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

.form-field label {
  padding-bottom: 5px;
}

.form-field {
  flex: 1;
}

footer {
  padding: 20px;
}

.container {
  background-color: var(--color-background);
  border-style: solid;
  border-color: var(--color-border);
  border-width: 20px 25px;;
  font-family: var(--font-family);
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--color-form-background);
  padding: 30px;
  gap: 20px;
  margin: auto;
  max-width: 800px;
}

form>h2 {
  padding-bottom: 10px;
  border-bottom: 2px solid #70aefc;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.check-list {
  padding: 15px;
  border: 1px solid #ddd;
}

.radio-group {
  padding: 15px;
  border: 1px solid #ddd;
}

.radio-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 8px;
}


.check-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.check-option {
  display: flex;
  align-items: center;
  gap: 8px;
}

textarea {
  padding: 10px;
  min-height: 100px;
}

button {
  background-color: var(--color-primary);
  color: white;
  padding: 12px;
  border: none;
  
}

button:hover {
  background-color: var(--color-primary-dark);
}

.go-back {
  padding: 50px 0px 0px 50px;
}

.go-back a {
  text-decoration: none;
  color: black;
}